@font-face {
    font-family: "Playfair Display";
    src: url("fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Playfair Display Bold";
    src: url("fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}

body {
    margin: 0;
}

header {
    background-color: #1F3345;
    color: white;
    padding: 20px 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    font-family: "Playfair Display Bold", serif;
    font-size: 24px;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title {
    border: 5px solid white;
    padding: 40px 120px;
    font-family: "Playfair Display Bold", serif;
    font-size: 64px;
    color: white;
}

main {
    background-color: white;
    color: #222;
    padding: 80px 10%;
}
