@font-face {
    font-family: "Playfair Display";
    src: url("fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}

body {
    background-color: #FFFFFF;
    color: #000000;
}

.title {
    color: #06417C;
    font-family: "Playfair Display", serif; /*serif is backup*/
    font-size: 48px;
    text-align: center;
}

.description {
    font-size: 20px;
    font-family: "OpenSans", serif; /*serif is backup*/
}